version: '1.0.0'

# 실제 설정 파일. .gitignore 로 커밋되지 않는다(시크릿 유출 방지).
# 배포(운영)에서는 /data/dashboard/.env 의 환경변수가 이 값을 덮어쓴다.

develop:
  database:
    type: mysql
    host: 140.82.12.99
    port: 3306
    name: dashboard
    user: dashboard
    password: change-me
  port: 8010
  cors: [http://localhost:5173]
  documentRoot: ./dist
  path: ./webdata
  dash:
    token: change-me
    healthIngestToken: change-me
    githubToken: ''
    githubUsername: kobums
    gitlabToken: ''
    gitlabUsername: ''
    snippetEmail: kobums23@gmail.com
    snippetPassword: ''
    snippetApiUrl: https://snippetapi.gowoobro.com/api

production:
  database:
    type: mysql
    host: mariadb
    port: 3306
    name: dashboard
    user: dashboard
    password: change-me
  port: 8010
  cors: []
  documentRoot: ./dist
  path: ./webdata
  dash:
    token: ''
    healthIngestToken: ''
    githubToken: ''
    githubUsername: kobums
    gitlabToken: ''
    gitlabUsername: ''
    snippetEmail: kobums23@gmail.com
    snippetPassword: ''
    snippetApiUrl: https://snippetapi.gowoobro.com/api
